@import "../fonts/icomoon.css";

/* =============================================================================
 RESET
 =============================================================================*/
html,body {
  height: 100% !important;
  overflow: hidden;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.painel-full {
  display: block;
  width: 100%;
  height: 100%;

  background: #f5ffe8;
  background: -moz-linear-gradient(top, #f5ffe8 3%, #2a2944 100%);
  background: -webkit-linear-gradient(top, #f5ffe8 0%,#2a2944 100%);
  background: linear-gradient(to bottom, #f5ffe8 0%,#2a2944 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ffe8', endColorstr='#2a2944',GradientType=0 );

}

.taulogo {
  position: absolute;
  top: 0;
  left: -10%;
  width: 900px;
  opacity: .4;
          transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.tipography span {
  font-size: 160px;
  display: block;
  text-align: center;
}

.tipography .slogan {
  font-size: 30px;
  text-align: center;
}

.contacts {
  position: absolute;
  width: 100%;
  height: 140px;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  padding: 30px;
}

.contacts ul { list-style: none; display: flex; justify-content: center; }
.contacts li { color: #fff; vertical-align: middle; flex: 1; max-width: 200px; }
.contacts a { color: #fff; font-family: arial; font-size: 15px; font-weight: bold; }
.contacts i { font-size: 21px; vertical-align: middle; }

.painelclock { width: 390px; margin: 0 auto; text-align: center;}

/*pagina 2*/
.painel-full.padding {
  padding-top: 40px;
}

.logo {
  display: block;
  min-width: 200px;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.centerbox {
  display: block;
  min-width: 200px;
  max-width: 450px;
  margin: 0 auto;
  background: rgba(0, 0, 0, .2);
  padding: 30px;
}

.debug > * { border: 1px solid #fff !important; }
